In [1]:
import pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import seaborn as sns

# Human Data Science - Course Project

## Costruzione dei dataset
L'obiettivo è la creazione più dataset contenenti dati riguardo al crimine e fattori socio-economici che possono influenzare il crimine stesso per ogni paese dell'Unione Europea.

### ! trova un modo per scalare l'income mediano

I dati riguardo i crimini commessi sono forniti da [Eurostat](https://ec.europa.eu/eurostat/databrowser/view/crim_off_cat__custom_8028311/default/table?lang=en), [Explanatory Texts](https://ec.europa.eu/eurostat/cache/metadata/en/crim_off_cat_esms.htm)

In [2]:
df = pandas.read_table('data/crime/crim_off_cat.tsv') 

display(df)

,"freq,iccs,unit,geo\TIME_PERIOD",2016,2017,2018,2019,2020,2021
0,"A,ICCS0101,P_HTHAB,AT",0.56,0.70,0.83,0.84,0.61,0.66
1,"A,ICCS0101,P_HTHAB,BE",1.55,1.74,1.68,1.27,1.26,1.26
2,"A,ICCS0101,P_HTHAB,BG",1.10,1.34,1.30,1.14,0.95,1.27
3,"A,ICCS0101,P_HTHAB,CY",1.30,0.82,1.62,1.48,1.69,1.56
4,"A,ICCS0101,P_HTHAB,CZ",0.62,0.38,0.52,0.76,0.53,0.43
...,...,...,...,...,...,...,...
103,"A,ICCS0703,P_HTHAB,PT",1.47,1.71,1.61,1.65,1.50,2.06
104,"A,ICCS0703,P_HTHAB,RO",7.09,27.67,22.42,21.07,17.66,20.92
105,"A,ICCS0703,P_HTHAB,SE",213.55,211.05,207.81,201.53,191.63,205.03
106,"A,ICCS0703,P_HTHAB,SI",56.15,47.00,10.31,10.52,14.89,11.38
107,"A,ICCS0703,P_HTHAB,SK",1.94,3.07,2.77,2.50,2.40,3.41

In [3]:
split = df["freq,iccs,unit,geo\\TIME_PERIOD"].str.split(",", expand=True)
split.columns = ["freq", "iccs", "unit", "geo"]
split.drop(columns=["freq", "unit"], inplace=True)
split = split[["geo", "iccs"]]

df = pd.concat([df, split], axis=1)
df.drop(columns=["freq,iccs,unit,geo\\TIME_PERIOD"], inplace=True)

df.rename(columns=lambda x: x.strip(), inplace=True)

In [4]:
# Rename rows with the name of the country
geo_dict = {
    "BE": "Belgium",
    "BG": "Bulgaria",
    "CZ": "Czechia",
    "DK": "Denmark",
    "DE": "Germany",
    "EE": "Estonia",
    "IE": "Ireland",
    "EL": "Greece",
    "ES": "Spain",
    "FR": "France",
    "HR": "Croatia",
    "IT": "Italy",
    "CY": "Cyprus",
    "LV": "Latvia",
    "LT": "Lithuania",
    "LU": "Luxembourg",
    "HU": "Hungary",
    "MT": "Malta",
    "NL": "Netherlands",
    "AT": "Austria",
    "PL": "Poland",
    "PT": "Portugal",
    "RO": "Romania",
    "SI": "Slovenia",
    "SK": "Slovakia",
    "FI": "Finland",
    "SE": "Sweden",
}

df["geo"] = df["geo"].map(geo_dict)

# df = df.melt(id_vars=["geo", "iccs"], var_name="year", value_name="value")
display(df)

        2016    2017    2018    2019    2020    2021       geo      iccs
0      0.56     0.70    0.83    0.84    0.61    0.66   Austria  ICCS0101
1      1.55     1.74    1.68    1.27    1.26    1.26   Belgium  ICCS0101
2      1.10     1.34    1.30    1.14    0.95    1.27  Bulgaria  ICCS0101
3      1.30     0.82    1.62    1.48    1.69    1.56    Cyprus  ICCS0101
4      0.62     0.38    0.52    0.76    0.53    0.43   Czechia  ICCS0101
..       ...     ...     ...     ...     ...     ...       ...       ...
103    1.47     1.71    1.61    1.65    1.50    2.06  Portugal  ICCS0703
104    7.09    27.67   22.42   21.07   17.66   20.92   Romania  ICCS0703
105  213.55   211.05  207.81  201.53  191.63  205.03    Sweden  ICCS0703
106   56.15    47.00   10.31   10.52   14.89   11.38  Slovenia  ICCS0703
107    1.94     3.07    2.77    2.50    2.40    3.41  Slovakia  ICCS0703

[108 rows x 8 columns]

## Legenda
ICCS = International Classification of crime for statistical purposes
Geo = Geopolitical entity 
Unit = Unit of measure (Per 100 000 inhabitants)
Freq = Time frequency (A = Annual)

Nel dataset sono presenti record per 20 tipi di crimini diversi, purtroppo per alcuni crimini i dati erano incompleti, mancanti o completamente non presenti per alcuni paesi. 
Per questo motivo sono stati selezionati solo alcuni tipi di crimini per ogni paese:
- Intentional Homicide
- Sexual Violence
- Theft
- Corruption (Alcuni valori sono stati interpolati linearmente)

I dati sono forniti per ogni paese dell'Unione Europea, per ogni anno dal 2016 al 2021.

Per il dataset "corruption_df" alcuni campioni erano mancanti, di conseguenza è stata applicata un'interpolazione lienare.

## Flags sui dataset
Ogni dataset fornito da Eurostat contiene o può contenere dei flag sui dati:
- b: break in time series
- ep: estimated, provisional
- p: provisional
- e: estimated

Il flag "b" indica un'interruzione nella serie temporale, ovvero un cambiamento nella fonte o nella metodologia rispetto all'anno precedente. I dati sono ritenuti comunque attendibili.
Per i dati segnati con gli altri flag invece, non è possibile stabilire la loro attendibilità quindi è stato deciso di applicare una interpolazione linare.

In [5]:
# Estrapolazione dei dati riguardo i crimini di interesse

# Intentional homicide
homicide_df = df[df["iccs"] == "ICCS0101"].drop(columns=["iccs"])
homicide_df = homicide_df.applymap(lambda x: pd.to_numeric(x, errors='ignore'))
homicide_df = homicide_df.melt(id_vars=["geo"], var_name="year", value_name="homicides")

# Sexual violence
sexual_violence_df = df[df["iccs"] == "ICCS0301"].drop(columns=["iccs"])
sexual_violence_df = sexual_violence_df.applymap(lambda x: pd.to_numeric(x, errors='ignore'))
sexual_violence_df = sexual_violence_df.melt(id_vars=["geo"], var_name="year", value_name="sexual_violence")

# Theft
theft_df = df[df["iccs"] == "ICCS0502"].drop(columns=["iccs"])
theft_df = theft_df.applymap(lambda x: pd.to_numeric(x, errors='ignore'))
theft_df = theft_df.melt(id_vars=["geo"], var_name="year", value_name="theft")

# Corruption DA SISTEMARE
corruption_df = df[df["iccs"] == "ICCS0703"].drop(columns=["iccs"])
corruption_df = corruption_df.applymap(lambda x: None if ":" in str(x) else x)
corruption_df = corruption_df.applymap(lambda x: pd.to_numeric(x, errors='ignore'))
corruption_df.set_index("geo", inplace=True)
corruption_df = corruption_df.interpolate(method='linear', axis=1, limit_direction='both')
corruption_df.reset_index(inplace=True)
corruption_df = corruption_df.melt(id_vars=["geo"], var_name="year", value_name="corruption")

In [6]:
# Clean and interpolate the data
def clean_interpolate(df, index):
    df.set_index(index, inplace=True)
    df = df.applymap(lambda x: x.replace("b", "") if isinstance(x, str)
    else x)
    df = df.applymap(lambda x: pd.to_numeric(x, errors='ignore'))
    df = df.applymap(lambda x: pd.to_numeric(x, errors='coerce'))
    df = df.interpolate(method='linear', axis=1, limit_direction='both')
    df.reset_index(inplace=True)
    return df


# Convert the data to the format: per 100.000 inhabitants
def convert_to_ht(population_df, df):
    population_df.set_index("geo", inplace=True)
    df.set_index("geo", inplace=True)

    df = df.div(100)
    df = df.mul(population_df, axis=0) / 100000

    df.reset_index(inplace=True)
    population_df.reset_index(inplace=True)

    return df

### Dataset: Population on 1 January
Fonte:
- [Population on 1 January](https://ec.europa.eu/eurostat/databrowser/view/tps00001__custom_7848350/default/table?lang=en)

Nel presente dataset sono contenute le registrazioni della popolazione totale di ciascun paese dell'Unione Europea al 1° gennaio di ciascun anno. 
Tale dataset è stato impiegato per standardizzare i dati di tutti gli altri dataset in cui i valori erano espressi come percentuale rispetto alla popolazione totale, 
normalizzandoli al formato di 'ogni 100.000 abitanti', come i dati relativi ai crimini.

In [7]:
population_df = pandas.read_table('data/population/tps00001.tsv')

split = population_df["freq,indic_de,geo\\TIME_PERIOD"].str.split(",", expand=True)
split.drop(columns=[0, 1], inplace=True)
split.columns = ["geo"]

population_df = pd.concat([population_df, split], axis=1)
population_df.drop(columns=["freq,indic_de,geo\\TIME_PERIOD"], axis=1, inplace=True)
population_df.rename(columns=lambda x: x.strip(), inplace=True)
population_df["geo"] = population_df["geo"].map(geo_dict)

population_df = clean_interpolate(population_df, "geo")

display(population_df)

,geo,2016,2017,2018,2019,2020,2021
0,Austria,8700471.0,8772865.0,8822267.0,8858775.0,8901064.0,8932664.0
1,Belgium,11311117.0,11351727.0,11398589.0,11455519.0,11522440.0,11554767.0
2,Bulgaria,7153784.0,7101859.0,7050034.0,7000039.0,6951482.0,6916548.0
3,Cyprus,848319.0,854802.0,864236.0,875899.0,888005.0,896007.0
4,Czechia,10553843.0,10578820.0,10610055.0,10649800.0,10693939.0,10494836.0
5,Germany,82175684.0,82521653.0,82792351.0,83019213.0,83166711.0,83155031.0
6,Denmark,5707251.0,5748769.0,5781190.0,5806081.0,5822763.0,5840045.0
7,Estonia,1315944.0,1315635.0,1319133.0,1324820.0,1328976.0,1330068.0
8,Greece,10783748.0,10768193.0,10741165.0,10724599.0,10718565.0,10678632.0
9,Spain,46440099.0,46528024.0,46658447.0,46937060.0,47332614.0,47398695.0
10,Finland,5487308.0,5503297.0,5513130.0,5517919.0,5525292.0,5533793.0
11,France,66638391.0,66809816.0,67026224.0,67290471.0,67485531.0,67485531.0
12,Croatia,4190669.0,4154213.0,4105493.0,4076246.0,4058165.0,4036355.0
13,Hungary,9830485.0,9797561.0,9778371.0,9772756.0,9769526.0,9730772.0
14,Ireland,4726286.0,4784383.0,4830392.0,4897416.0,4964440.0,5006324.0
15,Italy,60665551.0,60589445.0,60483973.0,59816673.0,59641488.0,59236213.0
16,Lithuania,2888558.0,2847904.0,2808901.0,2794184.0,2794090.0,2795680.0
17,Luxembourg,576249.0,590667.0,602005.0,613894.0,626108.0,634730.0
18,Latvia,1968957.0,1950116.0,1934379.0,1919968.0,1907675.0,1893223.0
19,Malta,450415.0,460297.0,475701.0,493559.0,514564.0,516100.0
20,Netherlands,16979120.0,17081507.0,17181084.0,17282163.0,17407585.0,17475415.0
21,Poland,37967209.0,37972964.0,37972888.0,37972812.0,37972812.0,37972812.0
22,Portugal,10341330.0,10309573.0,10291027.0,10276617.0,10295909.0,10298252.0
23,Romania,19760585.0,19643949.0,19533481.0,19414458.0,19308060.0,19201662.0
24,Sweden,9851017.0,9995153.0,10120242.0,10230185.0,10327589.0,10379295.0
25,Slovenia,2064188.0,2065895.0,2066880.0,2080908.0,2095861.0,2108977.0
26,Slovakia,5426252.0,5435343.0,5443120.0,5450421.0,5457873.0,5459781.0

### Dataset: Persone a rischio di povertà o esclusione sociale
Fonte:
- [People at rick of poverty or social exclusion](https://ec.europa.eu/eurostat/databrowser/view/sdg_01_10__custom_8278962/default/table?lang=en)
- [Explanatory texts](https://ec.europa.eu/eurostat/cache/metadata/en/sdg_01_10_esmsip2.htm)

L'indicatore rappresenta la somma di persone che si trovano in una delle seguenti condizioni: a rischio di povertà dopo trasferimenti sociali, gravemente privi di beni materiali o che vivono in nuclei familiari con una bassa intensità lavorativa. Una persona è conteggiata una sola volta, anche se è colpita da più di una di queste situazioni.

- Age: Total
- Time: 2016-2021
- Sex: Total
- Unit:  percentage of total population

In [8]:
poverty_df = pandas.read_table('data/sdg/sdg_01_10.tsv')

split = poverty_df["freq,sex,age,unit,geo\\TIME_PERIOD"].str.split(",", expand=True)
split.drop(columns=[0, 1, 2, 3], inplace=True)
split.columns = ["geo"]

poverty_df = pd.concat([poverty_df, split], axis=1)
poverty_df.drop(columns=["freq,sex,age,unit,geo\\TIME_PERIOD"], axis=1, inplace=True)
poverty_df.rename(columns=lambda x: x.strip(), inplace=True)
poverty_df["geo"] = poverty_df["geo"].map(geo_dict)

# Clean and interpolate the data
poverty_df = clean_interpolate(poverty_df, "geo")
# Convert to per 100.000 inhabitants
poverty_df = convert_to_ht(population_df, poverty_df)

poverty_df = poverty_df.melt(id_vars=["geo"], var_name="year", value_name="poverty")
display(poverty_df)

          geo  year    poverty
0     Austria  2016  14.964810
1     Belgium  2016  25.110680
2    Bulgaria  2016  29.330514
3      Cyprus  2016   1.917201
4     Czechia  2016  13.086765
..        ...   ...        ...
157  Portugal  2021  23.068084
158   Romania  2021  66.245734
159    Sweden  2021  17.852387
160  Slovenia  2021   2.783850
161  Slovakia  2021   8.517258

[162 rows x 3 columns]

### Dataset: NEET, Not in Education, Employment or Training
Fonte:
- [Young people neither in employment nor in education and training by sex (NEET)](https://ec.europa.eu/eurostat/databrowser/view/sdg_08_20__custom_7848499/default/table?lang=en)
- [Explanatory texts](https://ec.europa.eu/eurostat/cache/metadata/en/sdg_08_20_esmsip2.htm) 

L'indicatore valuta la percentuale di persone comprese tra i 15 e i 29 anni che non hanno lavoro e non stanno frequentando corsi di studio o formazione. Il numeratore dell'indicatore si riferisce alle persone che soddisfano due criteri: (a) non hanno un'occupazione (ovvero sono disoccupate o inattive secondo la definizione dell'Organizzazione Internazionale del Lavoro) e (b) non hanno partecipato a programmi di istruzione o formazione (sia formali che informali) nelle quattro settimane precedenti all'indagine sulla forza lavoro.

- Age: 15-29 years
- Time: 2016-2021
- Unit: percentage of total population

In [9]:
neet_df = pandas.read_table('data/sdg/sdg_08_20.tsv')

split = neet_df["freq,sex,age,unit,geo\\TIME_PERIOD"].str.split(",", expand=True)
split.drop(columns=[0, 1, 2, 3], inplace=True)
split.columns = ["geo"]

neet_df = pd.concat([neet_df, split], axis=1)
neet_df.drop(columns=["freq,sex,age,unit,geo\\TIME_PERIOD"], axis=1, inplace=True)
neet_df = neet_df.iloc[:, ::-1]
neet_df.rename(columns=lambda x: x.strip(), inplace=True)
neet_df["geo"] = neet_df["geo"].map(geo_dict)

# Clean and interpolate the data
neet_df = clean_interpolate(neet_df, "geo")
# Convert to per 100.000 inhabitants
neet_df = convert_to_ht(population_df, neet_df)

neet_df = neet_df.melt(id_vars=["geo"], var_name="year", value_name="neet")
display(neet_df)

          geo  year       neet
0     Austria  2016   8.091438
1     Belgium  2016  13.799563
2    Bulgaria  2016  16.024476
3      Cyprus  2016   1.526974
4     Czechia  2016  11.714766
..        ...   ...        ...
157  Portugal  2021   9.783339
158   Romania  2021  38.979374
159    Sweden  2021   6.227577
160  Slovenia  2021   1.539553
161  Slovakia  2021   7.752889

[162 rows x 3 columns]

### Dataset: Tertiary educational attainment by sex
Fonte:
- [Tertiary educational attainment by sex](https://ec.europa.eu/eurostat/databrowser/view/sdg_04_20__custom_7957119/default/table?lang=en)
- [Explanatory Texts](https://ec.europa.eu/eurostat/cache/metadata/en/sdg_04_20_esmsip2.htm)

L'indicatore valuta la percentuale della popolazione compresa tra i 25 e i 34 anni che ha completato con successo gli studi terziari (ad esempio, universitari o in istituti tecnici superiori, ecc.). Questo grado di istruzione si riferisce al livello 5-8 della ISCED (International Standard Classification of Education) 2011 per i dati a partire dal 2014 e al livello 5-6 della ISCED 1997 per i dati fino al 2013. L'indicatore si basa sulla Rilevazione sul Mercato del Lavoro dell'Unione Europea (EU-LFS).

- Age: 25-34 years
- Unit: percentage of total population
- Time frequency: Annual

In [10]:
education_df = pandas.read_table('data/sdg/sdg_04_20.tsv')

split = education_df["freq,sex,age,unit,isced11,geo\\TIME_PERIOD"].str.split(",", expand=True)
split.drop(columns=[0, 1, 2, 3, 4], inplace=True)
split.columns = ["geo"]

education_df = pd.concat([education_df, split], axis=1)
education_df.drop(columns=["freq,sex,age,unit,isced11,geo\\TIME_PERIOD"], axis=1, inplace=True)
education_df.rename(columns=lambda x: x.strip(), inplace=True)
education_df["geo"] = education_df["geo"].map(geo_dict)

# Clean and interpolate the data
education_df = clean_interpolate(education_df, "geo")
# Convert to per 100.000 inhabitants
education_df = convert_to_ht(population_df, education_df)

education_df = education_df.melt(id_vars=["geo"], var_name="year", value_name="education")
display(education_df)

          geo  year  education
0     Austria  2016  34.540870
1     Belgium  2016  50.108248
2    Bulgaria  2016  23.464412
3      Cyprus  2016   4.767553
4     Czechia  2016  34.405528
..        ...   ...        ...
157  Portugal  2021  48.916697
158   Romania  2021  44.739872
159    Sweden  2021  51.169924
160  Slovenia  2021  10.102000
161  Slovakia  2021  21.566135

[162 rows x 3 columns]

### Dataset: Unemployment by age and sex
Fonte:
- [Unemployment by age and sex](https://ec.europa.eu/eurostat/databrowser/view/une_rt_a__custom_8278690/default/table?lang=en)
- [Explanatory Texts](https://ec.europa.eu/eurostat/cache/metadata/en/lfsi_esms.htm)

L'indicatore valuta la percentuale di popolazione compresa tra i 15 e i 74 che non erano occupate durante la settimana di riferimento del sondaggio(?), avevano attivamente cercato lavoro nelle ultime quattro settimane ed erano disponibili a iniziare a lavorare immediatamente o entro due settimane.

- Age: 15 to 74 years
- Unit: percentage of total population
- Time frequency: Annual

In [11]:
unemployment_df = pandas.read_table('data/population/une_rt_a.tsv')

split = unemployment_df["freq,age,unit,sex,geo\\TIME_PERIOD"].str.split(",", expand=True)
split.drop(columns=[0, 1, 2, 3], inplace=True)
split.columns = ["geo"]

unemployment_df = pd.concat([unemployment_df, split], axis=1)
unemployment_df.drop(columns=["freq,age,unit,sex,geo\\TIME_PERIOD"], axis=1, inplace=True)
unemployment_df.rename(columns=lambda x: x.strip(), inplace=True)
unemployment_df["geo"] = unemployment_df["geo"].map(geo_dict)

#Clean and interpolate the data
unemployment_df = clean_interpolate(unemployment_df, "geo")
# Convert to per 100.000 inhabitants
unemployment_df = convert_to_ht(population_df, unemployment_df)

unemployment_df = unemployment_df.melt(id_vars=["geo"], var_name="year", value_name="unemployment")

display(unemployment_df)

          geo  year  unemployment
0     Austria  2016      3.828207
1     Belgium  2016      5.316225
2    Bulgaria  2016      3.648430
3      Cyprus  2016      0.729554
4     Czechia  2016      2.743999
..        ...   ...           ...
157  Portugal  2021      4.531231
158   Romania  2021      6.144532
159    Sweden  2021      6.746542
160  Slovenia  2021      0.653783
161  Slovakia  2021      2.456901

[162 rows x 3 columns]

### Altro dataset: Income quintile share ratio (S80/S50)
Fonte:
- [Income quintile share ratio (S80/S50)](https://ec.europa.eu/eurostat/databrowser/view/ilc_di11d__custom_8162348/default/table?lang=en)
- [Explenatory texts](https://ec.europa.eu/eurostat/cache/metadata/en/ilc_sieusilc.htm)

 Indicatore statistico che viene spesso utilizzato nell'analisi economica e sociale per misurare la distribuzione del reddito o del reddito disponibile tra diversi gruppi demografici all'interno di una popolazione. 
 In questo caso il dataset descrive il 
 rapporto calcolato tra il quintile più ricco (S80) e il quintile mediano (S50). 
 Questo significa che si sta confrontando il 20% più ricco della popolazione con il 50% mediano, il che offre una visione della disuguaglianza tra i redditi più alti e il reddito mediano.
 
- Unit: ratio

In [12]:
inequity_df = pandas.read_table('data/population/ilc_di11.tsv')

split = inequity_df["freq,age,sex,unit,geo\\TIME_PERIOD"].str.split(",", expand=True)
split.drop(columns=[0, 1, 2, 3], inplace=True)
split.columns = ["geo"]

inequity_df = pd.concat([inequity_df, split], axis=1)
inequity_df.drop(columns=["freq,age,sex,unit,geo\\TIME_PERIOD"], axis=1, inplace=True)
inequity_df.rename(columns=lambda x: x.strip(), inplace=True)
inequity_df["geo"] = inequity_df["geo"].map(geo_dict)

# Clean and interpolate the data
inequity_df = clean_interpolate(inequity_df, "geo") 

inequity_df = inequity_df.melt(id_vars=["geo"], var_name="year", value_name="inequity")
display(inequity_df)

          geo  year  inequity
0     Austria  2016      4.09
1     Belgium  2016      3.85
2    Bulgaria  2016      7.69
3      Cyprus  2016      4.88
4     Czechia  2016      3.50
..        ...   ...       ...
157  Portugal  2021      5.66
158   Romania  2021      7.14
159    Sweden  2021      4.04
160  Slovenia  2021      3.24
161  Slovakia  2021      3.20

[162 rows x 3 columns]

 
### Dataset: Median income by age and sex
Fonte:
- [Median income by age and sex](https://ec.europa.eu/eurostat/databrowser/view/ilc_di03__custom_7988486/default/table?lang=en)
- [Explanatory Texts](https://ec.europa.eu/eurostat/cache/metadata/en/ilc_sieusilc.htm)

Questo dataset rappresenta una raccolta di dati riguardanti il reddito mediano, ottenuto da due rilevazioni: l'EU-SILC (European Union Statistics on Income and Living Conditions) e l'ECHP (European Community Household Panel).

- Age: 18 years or over
- Sex: Total
- Unit: Euro

In [13]:
income_df = pandas.read_table('data/population/ilc_di03.tsv')

split = income_df["freq,age,sex,indic_il,unit,geo\\TIME_PERIOD"].str.split(",", expand=True)
split.drop(columns=[0, 1, 2, 3, 4], inplace=True)
split.columns = ["geo"]

income_df = pd.concat([income_df, split], axis=1)
income_df.drop(columns=["freq,age,sex,indic_il,unit,geo\\TIME_PERIOD"], axis=1, inplace=True)
income_df.rename(columns=lambda x: x.strip(), inplace=True)
income_df["geo"] = income_df["geo"].map(geo_dict)

# Clean and interpolate the data
income_df = clean_interpolate(income_df, "geo")

income_df = income_df.melt(id_vars=["geo"], var_name="year", value_name="income")
display(income_df)

          geo  year  income
0     Austria  2016   24400
1     Belgium  2016   22267
2    Bulgaria  2016    3212
3      Cyprus  2016   14132
4     Czechia  2016    7905
..        ...   ...     ...
157  Portugal  2021   11115
158   Romania  2021    4914
159    Sweden  2021   25925
160  Slovenia  2021   15415
161  Slovakia  2021    8744

[162 rows x 3 columns]

# Costruzione dei dataset su cui effettuare l'analisi

In [14]:
# Intentional Homicide
homicide_df = pd.merge(homicide_df, poverty_df, on=["geo", "year"])
homicide_df = pd.merge(homicide_df, neet_df, on=["geo", "year"])
homicide_df = pd.merge(homicide_df, education_df, on=["geo", "year"])
homicide_df = pd.merge(homicide_df, unemployment_df, on=["geo", "year"])
homicide_df = pd.merge(homicide_df, income_df, on=["geo", "year"])
homicide_df = pd.merge(homicide_df, inequity_df, on=["geo", "year"])

homicide_df.to_csv("data/homicide_df.csv", index=False)

# Sexual violence
sexual_violence_df = pd.merge(sexual_violence_df, poverty_df, on=["geo", "year"])
sexual_violence_df = pd.merge(sexual_violence_df, neet_df, on=["geo", "year"])
sexual_violence_df = pd.merge(sexual_violence_df, education_df, on=["geo", "year"])
sexual_violence_df = pd.merge(sexual_violence_df, unemployment_df, on=["geo", "year"])
sexual_violence_df = pd.merge(sexual_violence_df, income_df, on=["geo", "year"])
sexual_violence_df = pd.merge(sexual_violence_df, inequity_df, on=["geo", "year"])

sexual_violence_df.to_csv("data/sexual_violence_df.csv", index=False)

# Theft dataset
theft_df = pd.merge(theft_df, poverty_df, on=["geo", "year"])
theft_df = pd.merge(theft_df, neet_df, on=["geo", "year"])
theft_df = pd.merge(theft_df, education_df, on=["geo", "year"])
theft_df = pd.merge(theft_df, unemployment_df, on=["geo", "year"])
theft_df = pd.merge(theft_df, income_df, on=["geo", "year"])
theft_df = pd.merge(theft_df, inequity_df, on=["geo", "year"])

theft_df.to_csv("data/theft_df.csv", index=False)

# Corruption dataset
corruption_df = pd.merge(corruption_df, poverty_df, on=["geo", "year"])
corruption_df = pd.merge(corruption_df, neet_df, on=["geo", "year"])
corruption_df = pd.merge(corruption_df, education_df, on=["geo", "year"])
corruption_df = pd.merge(corruption_df, unemployment_df, on=["geo", "year"])
corruption_df = pd.merge(corruption_df, income_df, on=["geo", "year"])
corruption_df = pd.merge(corruption_df, inequity_df, on=["geo", "year"])

corruption_df.to_csv("data/corruption_df.csv", index=False)